@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Orbitron', sans-serif;
}

.custom .bumper.pressed:after, .custom .button.pressed:after{
    background: red;
    color: black;
    border-color: black;
    transition: none
}

.custom .stick{
    width: 20px;
    height: 20px;
    background: #fd1601;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.custom .bumper:after, .custom .button:after{
    position: absolute;
    display: inline-block;
    background: black;
    border: 2px solid hsla(193, 97%, 27%, 1);
    color: hsla(193, 97%, 27%, 1);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    white-space: nowrap;
    transition: 5s all linear
}

/* - END COMMON STUFF - */
.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: black;
    border: 2px solid #03b2e1;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #002f3b 49%, #002f3b 50%, #002f3b 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #002f3b 49%, #002f3b 50%, #002f3b 51%, transparent 52%, transparent);
    top: calc(195px);
    right: -100%;
    transform: translateX(-100%);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;

    /*We keep this stuff above to make sure the other stick
    is in the right location while we hide background.*/
    background: none;
    border-color: transparent;
}

/* This part makes up the background of the Yaw part */
.custom .triggers{
    width: 129px;
    height: 20px;
    display: inline-block;
    background: black;
    position: absolute;
    border: 2px solid #03b2e1;
    border-radius: 20px;
    background-image: linear-gradient(90deg, transparent 48%, #002f3b 49%, #002f3b 50%, #002f3b 51%, transparent 52%, transparent);
    background-size: 100% calc(100% - 10px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    right: 0;
    top: 125px
}

/* Here we position the title for the Yaw axis */
.custom .triggers:after{
    content: "YAW";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #03b2e1;
    top: -1.5em;
    right: 50%;
    transform-origin: center;
    transform: translateX(50%);
}

/* This is to hide the stick we're not using */
.custom .stick.left{
    display: none;
}
/* This is to position the Yaw pointer */
.custom .stick.right{
    top: calc(-55px);
    left: 50%;
}
